<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.simba.license.service.mapper.RegionDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.simba.license.service.entity.RegionDetail">
        <id column="id" property="id"/>
        <result column="city_name" property="cityName"/>
        <result column="site_name" property="siteName"/>
        <result column="site_id" property="siteId"/>
        <result column="hk_region" property="hkRegion"/>
        <result column="lng" property="lng"/>
        <result column="lat" property="lat"/>
        <result column="province" property="province"/>
        <result column="site_belong" property="siteBelong"/>
        <result column="manager" property="manager"/>
        <result column="manager_id" property="managerId"/>
        <result column="manager_email" property="managerEmail"/>
        <result column="manager_phone" property="managerPhone"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, city_name, site_name, site_id, hk_region, lng, lat, province, site_belong, manager, manager_id,
        manager_email, manager_phone, create_by, create_time, modify_by, modify_time
    </sql>

</mapper>
