<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.simba.license.service.mapper.ViolationOrderCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.simba.license.service.entity.ViolationOrderCount">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="count" property="count"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_by" property="modifyBy"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, count, create_by, create_time, modify_by, modify_time
    </sql>

</mapper>
